<div class="col-sm-12 order-1 order-md-0">

  <div class="header">
    <div>
      <h5 style="margin-left: 14px;">Matríz de Seguimiento</h5>
    </div>
    <div class="group-button">
      <button type="submit" class="btn btn-primary rounded-pill px-3" >
        Operaciones
      </button>
      <button type="submit" class="btn btn-primary rounded-pill px-3" >
        Descargar Plantilla
      </button>
      <button type="submit" class="btn btn-primary rounded-pill px-3" (click)="goToImp()">
        Importar matríz de seguimiento
      </button>
    </div>
    
   
  </div>

  <br>
  <br>
  <br>
  
    <div class="card mb-3">
      <div class="card-body" >
          <div id='gfg'>
            <tabset>
              <tab heading="Programación de Metas Físicas">
                <app-pro-metas-fisicas></app-pro-metas-fisicas>
              </tab>
              <tab heading="Programación Presupuestal (S/.)">
                <app-pro-presupuestal></app-pro-presupuestal>
              </tab>
            </tabset>
          </div>
      </div>
    </div>
    <!-- <div class="card card-body mb-3" [class.loading]="isLoading">
      <ng-container *ngIf="users.length; else empty">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th class="col-1 text-center">Dirección General</th>
                <th class="text-center">Unidad Orgánica</th>
                <th class="text-center">Nombres y Apellidos</th>
                <th class="col-1 text-center">DNI</th>
                <th class="text-center">Cargo</th>
                <th class="text-center">Condición Laboral</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let item of users | paginator: paginationController"
              >
                <tr>
                  <td class="text-center">{{ item.direccionGeneral }}</td>
                  <td class="text-center">{{ item.UnOrganica }}</td>
                  <td class="text-center">{{ item.NomApe }}</td>
                  <td class="text-center">{{ item.dni }}</td>
                  <td class="text-center">{{ item.cargo }}</td>
                  <td class="text-center">{{ item.condLaboral }}</td>
                  <td>
                    <div class="options">
                      <i class="bx bx-pencil me-1" (click)="options(1,item)"></i>
                      <i class="bx bx-trash-alt me-1" (click)="options(2)"></i>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <app-paginator
          [total]="users.length"
          [size]="10"
          (pagination)="paginationChange($event)"
        >
        </app-paginator>
      </ng-container>
      <ng-template #empty>
        <div class="py-5 text-center">No se han encontrado resultados</div>
      </ng-template>
    </div> -->
    <!-- <div class="card card-body mb-3" *ngIf="orders.length">
        <iframe [src]="urlSafe" width="100%" height="500px" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>-->
  </div>