<div class="row">
  <div class="col-12">
    <iframe
      class="iframe-full"
      src="https://georis.maps.arcgis.com/apps/webappviewer/index.html?id=cd948f7a5ab241a1a1c75d867e7526fd"
    ></iframe>
  </div>
</div>
