<div class="input_wrapper" clickOut (outside)="show = false">
  <input type="text" #inputSearch class="form-control" [ngClass]="options?.css" [formControl]="control"
    (click)="show = true" (focus)="show = true">
  <div #perfectScroll class="results shadow" *ngIf="show" [class.loading]="isLoading" [perfectScrollbar]>
    <ng-content></ng-content>
    <div class="option" *ngFor="let option of filtered; trackBy: trackByItems" (click)="selectedOption(option)" tabindex="-1">
      <!-- {{option[bindLabel]}} -->
      <span [innerHtml]="option._label || option[bindLabel]"></span>
    </div>
    <div class="px-2 py-4 text-center" *ngIf="!filtered.length">
      <i class="bx bx-highlight bx-lg"></i><br>Escribe un texto para buscar
    </div>
    <div class="loading_wrapper" *ngIf="isLoading">
      <i class="bx bx-loader bx-spin  bx-md"></i>
      <div class="mt-2">Buscando...</div>
    </div>
  </div>
</div>