<div class="py-3">
  <div class="row mb-2">
    <div class="col-md-4">
      <label class="form-label">Almacén</label>
      <select class="form-select" [formControl]="warehouse">
        <option *ngFor="let item of warehouses" [value]="item.IdAlmacen">
          {{item.Detalle}}
        </option>
      </select>
    </div>
  </div>

  <div class="mt-3">
    <div class="table-responsive" *ngIf="presentations.length; else empty">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 1px;"></th>
            <th class="text-center">Stock</th>
            <th class="text-center">U.M.</th>
            <ng-container *ngIf="prices">
              <th class="text-center">Precio</th>
              <th class="text-center">Precio Min.</th>
            </ng-container>
            <th class="col-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of presentations" (click)="selectedItem(item)">
            <td>
              <span class="badge bg-primary" *ngIf="!item.FlagBase">
                Equivalencia
              </span>
            </td>
            <td class="text-center">{{item.Stock | number: '0.0-3'}}</td>
            <td class="text-center">{{item.UnidadMedida}}</td>
            <ng-container *ngIf="prices">
              <td class="text-center">{{item.Precio | number: '0.2-2'}}</td>
              <td class="text-center">{{item.PrecioMin | number: '0.2-2'}}</td>
            </ng-container>
            <td>
              <!-- <i class="bx bx-minus-back bx-sm" (click)="stockTransfer(item)" title="Transferir"></i> -->
              <div class="dropdown dropup position-static">
                <i class="btn-transfer bx bx-minus-back bx-sm dropdown-toggle" title="Transferir"
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-boundary="window"
                  data-bs-auto-close="outside">
                </i>
                <div class="dropdown-menu shadow p-3" [formGroup]="item.transfer">
                  <h6>Transferir stock a otro almacén</h6>
                  <div class="mb-3">
                    <label class="form-label">Almacén destino</label>
                    <select class="form-select" formControlName="IdTarget">
                      <ng-container *ngFor="let opt of item.warehouses">
                        <option [value]="opt.IdAlmacen">
                          {{opt.Detalle}}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Cantidad a transferir</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="Quantity"
                        [class.is-invalid]="item.transfer?.get('Quantity').errors">
                      <div class="input-group-text">{{item.IdUnidadMedida}}</div>
                    </div>
                  </div>
                  <div class="mb-2">
                    <button type="button" class="btn btn-outline-primary w-100 rounded-pill"
                      [disabled]="item.transfer.invalid" (click)="transfer(item)">
                      Transferir
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #empty>
      <div class="p-5 text-center border rounded">
        No hay stock disponible en éste almacén
      </div>
    </ng-template>
  </div>

</div>