<form [formGroup]="form" [class.loading]="isLoading">
  <div class="card card-body mb-3 d-flex flex-row gap-2">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)="reset()">
        <i class="bx bx-file"></i> Nuevo
      </button>
      <button type="button" class="btn btn-primary active" (click)="save()" [disabled]="form.invalid">
        <i class="bx bx-save"></i> Guardar
      </button>
    </div>
    <!-- <button type="button" class="btn btn-danger text-white ms-auto">
      <i class="bx bx-trash-alt"></i> Eliminar
    </button> -->
  </div>

  <div class="card card-body mb-3">
    <div class="row g-2 mb-3">
      <div class="col-md-3">
        <label class="form-label">Tipo de documento</label>
        <select class="form-select" formControlName="IdTipoDocumento">
          <option [value]="1">DNI</option>
          <option [value]="2">RUC</option>
          <option [value]="3">Carnet extranjería</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="form-label">N° documento</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="NroDocumento">
          <button type="button" class="btn btn-secondary" *ngIf="form.get('IdTipoDocumento').value == 2"
            (click)="getData()">
            <i class="bx bx-search-alt"></i>
          </button>
        </div>
      </div>
      <div class="col-md">
        <label class="form-label">Nombre o Razón social</label>
        <input type="text" class="form-control text-uppercase" formControlName="RazonSocial"
          [class.is-invalid]="form.get('RazonSocial').touched && form.get('RazonSocial').errors">
      </div>
    </div>
    <div class="row g-2 mb-3">
      <div class="col-md">
        <label class="form-label">Dirección fiscal</label>
        <input type="text" class="form-control" formControlName="Direccion">
      </div>
    </div>
    <div class="row g-2 mb-3">
      <div class="col-md">
        <label class="form-label">Email</label>
        <input type="text" class="form-control text-lowercase" formControlName="Email"
          [class.is-invalid]="form.get('Email').touched && form.get('Email').errors">
      </div>
      <div class="col-md">
        <label class="form-label">Celular</label>
        <input type="text" class="form-control" formControlName="Celular">
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Anotaciones</label>
    <textarea rows="3" class="form-control" formControlName="Observaciones"></textarea>
  </div>
  <h6>Configuración</h6>
  <div class="mb-3 d-flex flex-row">
    <div class="form-check form-check-inline form-switch">
      <input class="form-check-input" type="checkbox" id="cbClient" formControlName="FlagCliente">
      <label class="form-check-label" for="cbClient">Es cliente</label>
    </div>
    <div class="form-check form-check-inline form-switch">
      <input class="form-check-input" type="checkbox" id="cbProvider" formControlName="FlagProveedor">
      <label class="form-check-label" for="cbProvider">Es proveedor</label>
    </div>
    <div class="form-check form-check-inline form-switch ms-auto">
      <input class="form-check-input" type="checkbox" id="cbActive" formControlName="FlagActivo">
      <label class="form-check-label" for="cbActive">Activo</label>
    </div>
  </div>
</form>