/* You can add global styles to this file, and also import other style files */
$blue: #2a6ac2 !default;
$red: #fe0f0c !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #7daf00 !default;
$cyan: #2196f3 !default;

$border-radius: 1rem !default;
$border-radius-sm: 1rem !default;
$border-radius-lg: 1.5rem !default;

@import "~bootstrap/scss/bootstrap";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-toastr/toastr.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

@import "styles/general.scss";
@import "styles/controls.scss";
@import "styles/shell.scss";
@import "styles/loader.scss";

.iframe-full {
    display: block;
    background: #0079c1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
  }
  