<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="section-header">{{(form.get('Nombre').value | uppercase) || 'Item de venta'}}</h2>
      <p class="text-muted">
        Crea tus productos inventariables y/o servicios que ofreces para registrar en tus ventas.
      </p>

      <div class="card border-0 shadow my-4" [formGroup]="form" [class.loading]="isLoading">
        <div class="row g-0">
          <div class="col-md-8 main-content">
            <div class="row">
              <div class="col-md-3 mb-2" *ngIf="form.get('IdProducto').value">
                <label class="form-label">Cod. Referencia</label>
                <div class="form-control-plaintext border px-2 rounded">
                  {{form.get('IdProducto').value | padleft: 7}}
                </div>
              </div>
              <div class="col-md mb-2">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control text-uppercase" formControlName="Nombre" maxlength="200"
                  [class.is-invalid]="form.get('Nombre').touched && form.get('Nombre').errors">
              </div>
            </div>
            <div class="row">
              <div class="col-md mb-2">
                <label class="form-label">Categoría</label>
                <!-- <input type="text" class="form-control" formControlName="Categoria"> -->
                <select class="form-select" formControlName="IdCategoria"
                  [class.is-invalid]="form.get('IdCategoria').touched && form.get('IdCategoria').errors">
                  <option *ngFor="let item of categories" [value]="item.IdCategoria">
                    {{item.Detalle}}
                  </option>
                </select>
              </div>
              <div class="col-md mb-2">
                <label class="form-label">Marca</label>
                <!-- <input type="text" class="form-control" formControlName="Marca"> -->
                <app-selector-lazy bindLabel="Detalle" bindValue="IdMarca" [items]="trademarks"
                  [formControl]="trademark">
                  <div class="d-flex px-2 py-3 bg-light">
                    <a class="btn btn-link btn-sm text-decoration-none" (click)="addMark()">
                      <i class="bx bx-plus-circle"></i> Nueva marca
                    </a>
                    <a class="btn btn-link btn-sm text-decoration-none" *ngIf="trademark.value" (click)="editMark()">
                      <i class="bx bx-pencil"></i> Editar marca
                    </a>
                  </div>
                </app-selector-lazy>
              </div>
            </div>
            <div class="mb-2">
              <label class="form-label">Características / Descripción</label>
              <textarea class="form-control" rows="3" formControlName="Descripcion" maxlength="500"></textarea>
            </div>
            <div class="row">
              <div class="col-md-3 mb-4">
                <label class="form-label">Moneda</label>
                <select class="form-select" formControlName="IdMoneda">
                  <option value="01SOL">S/</option>
                  <option value="01DOL">USD</option>
                </select>
              </div>
              <div class="col-md-3 mb-4">
                <label class="form-label">Costo Promedio unitario</label>
                <input type="text" class="form-control" formControlName="CostoPromedio"
                  [class.is-invalid]="form.get('CostoPromedio').touched && form.get('CostoPromedio').errors">
              </div>
              <div class="col-md-3 mb-4">
                <label class="form-label">Stock mínimo</label>
                <input type="text" class="form-control" formControlName="StockMinimo"
                  [class.is-invalid]="form.get('StockMinimo').touched && form.get('StockMinimo').errors">
              </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center" *ngIf="errorInAverageCost()">
              <i class="bx bx-error bx-sm me-2"></i> El costo promedio debería ser menor al precio de venta de la unidad
              base
            </div>

            <ul class="nav nav-tabs nav-tabs-simple" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab"
                  aria-controls="tab-1" aria-selected="true">
                  Presentaciones
                </button>
              </li>
              <li class="nav-item" role="presentation" *ngIf="form.get('IdProducto').value">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab"
                  aria-controls="tab-2" aria-selected="false">
                  Inventario
                </button>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                <div class="d-flex justify-content-end my-3">
                  <button type="button" class="btn btn-outline-primary btn-sm rounded-pill px-3" (click)="open()">
                    <i class="bx bx-plus"></i> Agregar presentación
                  </button>
                </div>
                <div class="table-responsive" formArrayName="UnidadesMedida"
                  *ngIf="unidades.controls?.length; else emptyUnits">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">Cod. Barra</th>
                        <th class="text-center">Unidad</th>
                        <th class="text-center">Factor</th>
                        <th class="text-center">P. Venta</th>
                        <th class="text-center">P. mín.</th>
                        <th class="text-center">Activo</th>
                        <th class="text-center">Und. base</th>
                        <th class="col-1"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of unidades.controls; let i = index" [formGroupName]="i"
                        [class.bg-error]="item.get('Factor').value > 1 && item.get('FlagBase').value">
                        <td class="text-center">
                          {{item.get('EAN').value || '-'}}
                        </td>
                        <td class="text-center">
                          {{item.get('UnidadMedida').value}}
                        </td>
                        <td class="text-center">
                          {{item.get('Factor').value}}
                        </td>
                        <td class="text-center">{{item.get('Precio').value | number: '0.2-2'}}</td>
                        <td class="text-center">{{item.get('PrecioMin').value | number: '0.2-2'}}</td>
                        <td class="text-center">
                          <div class="form-check form-switch d-inline-block">
                            <input class="form-check-input" type="checkbox" formControlName="FlagVenta">
                          </div>
                        </td>
                        <td class="text-center">
                          <div class="form-check form-switch d-inline-block" (click)="selectUndBase(item)">
                            <input class="form-check-input" type="checkbox" formControlName="FlagBase">
                          </div>
                        </td>
                        <td class="text-end text-nowrap">
                          <i class="bx bx-trash me-2" title="Eliminar" (click)="removeUnit(i)"
                            *ngIf="!item.get('FlagBase').value"></i>
                          <i class="bx bx-edit" title="Editar" (click)="editUnit(item, i)"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <ng-template #emptyUnits>
                  <div class="rounded border p-3 py-5 text-center text-muted">
                    <span class="bx bx-confused bx-sm"></span><br>
                    Todavía no tienes presentaciones registradas
                  </div>
                </ng-template>
              </div>
              <div class="tab-pane fade" id="tab-2" role="tabpanel">
                <ng-container *ngIf="form.get('FlagStock').value; else noStock">
                  <app-stocktacking *ngIf="form.get('IdProducto').value" [product]="product">
                  </app-stocktacking>
                </ng-container>
                <ng-template #noStock>
                  <div class="my-5 text-center">
                    Éste ítem de venta no tiene control de iventario
                  </div>
                </ng-template>
              </div>
            </div>

          </div>
          <div class="col-md-4 secondary-section">
            <div class="row">
              <div class="col">
                Mostrar ítem en tienda
              </div>
              <div class="col-auto">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" formControlName="FlagActivo">
                </div>
              </div>
            </div>
            <div class="item-image my-3" [class.loaded]="image" (click)="uploadPicture()" (dragover)="dragImage($event)"
              (drop)="dropImage($event)">
              <img [src]="image" alt="" (error)="errorImage($event)" *ngIf="image">
              <div class="hint" *ngIf="!image">
                <div>Imagen del Producto</div>
                <div>Arrastre la imagen hasta aquí</div>
              </div>
              <input #picture type="file" class="d-none" accept="image/*" (change)="changePicture($event)">
            </div>
            <div class="row">
              <div class="col">
                Controlar Stock
              </div>
              <div class="col-auto">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" formControlName="FlagStock">
                </div>
              </div>
            </div>

            <hr>
            <div class="row align-items-end">
              <div class="col-md">
                <label class="form-label">Tipo de Impuesto</label>
                <select class="form-select" formControlName="TipoImpuesto">
                  <option value="1000">IGV</option>
                  <option value="9997">EXONERADO</option>
                  <option value="9998">INAFECTO</option>
                </select>
              </div>
              <div class="col-md-auto ms-auto pt-2">
                <div class="row">
                  <div class="col pe-2" title="Impuesto Selectivo al Consumo">
                    ISC
                  </div>
                  <div class="col-auto">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" formControlName="FlagISC">
                    </div>
                  </div>
                </div>
                <div class="row g-0">
                  <div class="col pe-2" title="Impuesto al Consumo de Bolsa Plástica">
                    ICBPER
                  </div>
                  <div class="col-auto">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" formControlName="FlagICBPER">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row g-3 justify-content-md-end justify-content-center pb-5 mb-4">
        <div class="col-auto">
          <a class="btn btn-secondary rounded-pill" routerLink="/inventario/productos">Cancelar</a>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary rounded-pill" (click)="reset()">Nuevo ítem</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary rounded-pill px-5" (click)="save()" [disabled]="isLoading">
            Guardar
          </button>
        </div>
      </div>

    </div>
  </div>
</div>