<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <form class="modal-content" [formGroup]="form" (submit)="save()">
      <div class="modal-header">
        <h5 class="modal-title">Marca</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="Detalle" maxlength="250"
            [class.is-invalid]="form.get('Detalle').touched && form.get('Detalle').errors">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Salir</button>
        <button type="submit" class="btn btn-primary rounded-pill px-3" [disabled]="form.invalid">
          Aceptar
        </button>
      </div>
    </form>
  </div>
</div>