<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <form class="modal-content" [formGroup]="form" (submit)="save()">
      <div class="modal-header">
        <h5 class="modal-title">Registro de personal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-2">
          <div class="col-md-6 mb-3">
            <label class="form-label">Empresa</label>
            <select class="form-select" formControlName="IdEmpresa">
              <option *ngFor="let item of companies" [value]="item.IdEmpresa">
                {{item.NombreComercial}}
              </option>
            </select>
          </div>
          <div class="col-md mb-3 d-flex justify-content-end align-self-end">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="FlagActivo" formControlName="FlagActivo">
              <label class="form-check-label" for="FlagActivo">Activo</label>
            </div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md-4 mb-3">
            <label class="form-label">Nombres</label>
            <input type="text" class="form-control" formControlName="Nombres" maxlength="250"
              [class.is-invalid]="form.get('Nombres').touched && form.get('Nombres').errors">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" formControlName="ApePaterno" maxlength="250"
              [class.is-invalid]="form.get('ApePaterno').touched && form.get('ApePaterno').errors">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Apellido Materno</label>
            <input type="text" class="form-control" formControlName="ApeMaterno" maxlength="250"
              [class.is-invalid]="form.get('ApeMaterno').touched && form.get('ApeMaterno').errors">
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md-6 mb-3">
            <label class="form-label">Documento</label>
            <div class="input-group">
              <select class="btn border text-start col-6" formControlName="IdTipoDocumento">
                <option [value]="1">DNI</option>
                <option [value]="2">Carnet extranjería</option>
                <option [value]="3">Pasaporte</option>
              </select>
              <input type="text" class="form-control" formControlName="NroDocumento" maxlength="20"
                [class.is-invalid]="form.get('NroDocumento').touched && form.get('NroDocumento').errors">
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label class="form-label">Género</label>
            <select class="form-select" formControlName="Genero">
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label class="form-label">Fecha Nacimiento</label>
            <div class="input-group">
              <input type="text" class="form-control" bsDatepicker formControlName="FechaNacimiento"
                [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
              <div class="input-group-text">
                <i class="bx bx-calendar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md-3 mb-3">
            <label class="form-label">Celular</label>
            <input type="text" class="form-control" formControlName="Celular" maxlength="50">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="Email" maxlength="250">
          </div>
          <div class="col-md-5 mb-3">
            <label class="form-label">Dirección</label>
            <input type="text" class="form-control" formControlName="Direccion" maxlength="250">
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="m-0">Usuarios</h5>
          <button type="button" class="btn btn-outline-primary btn-sm rounded-pill" *ngIf="form.get('IdPersonal').value"
            (click)="addUser()">
            Agregar usuario
          </button>
        </div>

        <hr>
        <div class="row align-items-stretch g-2" *ngIf="form.get('Usuarios').value?.length; else empty">
          <div class="col-md-6 mb-1" *ngFor="let item of form.get('Usuarios').value; let i = index">
            <div class="card card-body h-100 border shadow-sm">
              <div class="row">
                <div class="col-auto">
                  <i class="bx bx-user bx-lg"></i>
                </div>
                <div class="col">
                  <h3 class="user-name">{{item.IdUsuario}}</h3>
                  <div class="text-muted">{{item.Tipo}}</div>
                  <div class="mt-2">
                    <a class="btn btn-link btn-sm p-0 me-2" (click)="editUser(item, i)">Editar</a>
                    <a class="btn btn-link btn-sm p-0" (click)="removeUser(item, i)">Eliminar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #empty>
          <p class="my-4 text-center">No hay usuarios agregados aún</p>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary rounded-pill me-auto" (click)="clear()">Nuevo</button>
        <button type="submit" class="btn btn-primary rounded-pill px-3" [disabled]="form.invalid">Guardar</button>
        <button type="button" class="btn btn-secondary rounded-pill" (click)="accept()">Salir</button>
      </div>
    </form>
  </div>
</div>