<div class="row">
    <div class="col-12">
      <iframe class="iframe-full" src="https://georis.maps.arcgis.com/apps/instant/lookup/index.html?appid=1302dc6f17994d908f3d262cfaf72485"></iframe>
    </div>
  </div>