<h4 class="title d-flex justify-content-between align-items-center">
  Ventas por cliente
</h4>
<div class="card card-body mb-3">
  <form [formGroup]="formSearch" (ngSubmit)="search()">
    <div class="row align-items-end">
      <div class="col-md-3 mb-3 mb-md-0">
        <label class="form-label">Fecha inicio</label>
        <div class="input-group"
          [class.is-invalid]="formSearch.get('date_start').touched && formSearch.get('date_start').errors">
          <input type="text" class="form-control border-end-0" bsDatepicker formControlName="date_start"
            [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
          <div class="input-group-text bg-white border-start-0">
            <i class="bx bx-calendar"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3 mb-md-0">
        <label class="form-label">Fecha fin</label>
        <div class="input-group"
          [class.is-invalid]="formSearch.get('date_end').touched && formSearch.get('date_end').errors">
          <input type="text" class="form-control border-end-0" bsDatepicker formControlName="date_end"
            [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
          <div class="input-group-text bg-white border-start-0">
            <i class="bx bx-calendar"></i>
          </div>
        </div>
      </div>
      <div class="col-md text-end">
        <button type="submit" class="btn btn-primary rounded-pill">
          <i class="bx bx-refresh"></i> Actualizar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="card card-body mb-3" [class.loading]="isLoading">
  <ng-container *ngIf="sales.length; else empty">
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="col-1 text-center">Tipo Doc.</th>
            <th class="col-1 text-center">N° Doc.</th>
            <th>Cliente</th>
            <th class="col-1 text-end">Total</th>
            <th class="col-1 text-end">Deuda</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of sales | paginator: paginationController">
            <tr>
              <td class="text-center">{{item.TipoDocumento || '-'}}</td>
              <td class="text-center">{{item.NroDocumento || '-'}}</td>
              <td>
                {{item.Cliente}}
              </td>
              <td class="text-end">{{item.Moneda}} {{item.Total | number:'0.2-2'}}</td>
              <td class="text-end">{{item.Moneda}} {{item.Saldo | number:'0.2-2'}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <app-paginator [total]="sales.length" [size]="10" (pagination)="paginationChange($event)">
    </app-paginator>
  </ng-container>
  <ng-template #empty>
    <div class="py-5 text-center">
      <i class="bx bx-lg bx-search-alt"></i>
      <div>No se han encontrado resultados</div>
    </div>
  </ng-template>
</div>