.card {
  border: 0;
  box-shadow: 0 0 7px #eee;
}

.nav-tabs,
.card-header,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent !important;
}

.card-footer {
  border: 0;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    .bx {
      font-size: 1.2rem;
    }
  }
}

.card-options {
  margin: 1rem 0;
  position: sticky;
  bottom: 5px;
  padding: 1rem;
  background: rgba($color: #fff, $alpha: 0.9);
  border-radius: 0.75rem;
  z-index: 5;

  .bx {
    font-size: 1.2rem;
    // transform: translateY(2px);
  }
}

.bolder {
  font-weight: 700;
}

.form-control-plaintext {
  height: 38px;
}

.form-select option {
  font-size: 1rem;
}

.card.resume {
  position: sticky;
  top: 80px;

  .row {
    margin-bottom: 10px;
    border-bottom: 2px dashed #eee;

    &:last-child {
      border-bottom: none;
    }
  }
}

.image {
  width: 70px;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 60px;
  }
}

.qty {
  position: relative;

  .form-control {
    padding-left: 2rem;
    padding-right: 2rem;

    &.is-invalid {
      background-image: none;
    }
  }

  .icon-weight,
  .icon-plus,
  .icon-minus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;

    &:hover {
      color: var(--bs-primary);
    }
  }

  .icon-weight,
  .icon-plus {
    right: 10px;
  }

  .icon-minus {
    left: 10px;
  }
}

.input-icon {
  position: relative;

  .bx {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 2;
  }

  .icon-search {
    left: auto;
    right: 15px;
    color: #eee;
    cursor: pointer;

    &:hover {
      color: #555;
    }
  }

  .form-control {
    padding-left: 3rem;
    position: relative;
  }

  &.open {
    .form-control {
      z-index: 9;
    }
    .bx {
      z-index: 10;
    }
  }

  &.open:after {
    content: "";
    box-shadow: 0 0 0 10000px rgb(0 0 0 / 50%);
    position: relative;
    z-index: 8;
  }
}

.table {
  margin-bottom: 0;

  // tbody tr:hover {
  //   box-shadow: 0 2px 4px -1px rgb(82 112 148 / 20%), 0 1px 10px 0 rgb(82 112 148 / 12%),
  //     0 4px 5px 0 rgb(82 112 148 / 14%);
  // }

  tr td {
    border-bottom: 1px solid #f4f4f4;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  .form-control {
    min-width: 80px;
  }
}

.sticky {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  line-height: 1.1;
  transition: all ease 0.5s;
  background: rgba($color: #fff, $alpha: 0.9);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px #999;
  animation: sticky-show ease 0.5s;
  z-index: 9999;
}

@keyframes sticky-show {
  0% {
    transform: translate(-50%, 50px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}
