<app-sidebar [toggle]="show"></app-sidebar>
<!--Container Main start-->
<div style="margin-left: 2em;">
  <router-outlet></router-outlet>
</div>
<div class="alert alert-warning" *ngIf="offline" (click)="offline = false">
  <i class="bx bx-wifi-off"></i> Se ha perdido la conexión a internet
</div>