<div class="row">
    <div class="col-12">
      <iframe class="iframe-full" src="https://georis.maps.arcgis.com/apps/webappviewer/index.html?id=f57c0eb468b448aba9d950c546425f93"></iframe>
    </div>
  </div>