<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Anular pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="form">
        <div class="mb-3">
          <label class="form-label">Caja devolución</label>
          <select class="form-select" formControlName="IdCaja" [class.is-invalid]="form.get('IdCaja').errors">
            <option *ngFor="let item of boxes" [value]="item.IdCaja">{{item.Nombre}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Pagado por el usuario</label>
          <div class="input-group">
            <div class="input-group-text">S/</div>
            <div class="form-control form-control-plaintext border px-2">
              {{form.get('Pagado').value | number: '0.2-2'}}
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Monto a devolver</label>
          <div class="input-group">
            <div class="input-group-text">S/</div>
            <input type="text" class="form-control" formControlName="Devolver"
              [class.is-invalid]="form.get('Devolver').errors">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary rounded-pill px-4" (click)="save()"
          [disabled]="form.invalid">Anular</button>
      </div>
    </div>
  </div>
</div>