<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Productos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0 overflow-hidden">
        <div class="row g-0 align-items-stretch">
          <div class="col-md p-3 d-flex flex-column">
            <div class="card card-body mb-2 flex-grow-0">
              <label class="form-label">Ingrese un texto para buscar</label>
              <input type="text" class="form-control" [formControl]="keywords" (keyup.enter)="search()">
            </div>
            <div class="card card-body flex-grow-1 px-0">
              <ng-container *ngIf="products.length; else empty">
                <div class="table-responsive">
                  <table class="table align-middle">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th class="col-3 text-center">Existencias</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of products | paginator: paginatorController"
                        [class.active]="item.IdProducto == form?.get('IdProducto').value" (click)="selectProduct(item)">
                        <td>{{item.Nombre}}</td>
                        <td class="text-center">
                          <ng-container *ngIf="item.FlagStock && item.Stock">
                            {{item.Stock | number: '0.0-3'}} {{item.IdUnidadMedida}}
                          </ng-container>
                          <ng-container *ngIf="item.FlagStock && !item.Stock">
                            <span class="badge bg-danger text-white">Agotado</span>
                          </ng-container>
                          <ng-container *ngIf="!item.FlagStock">
                            <span class="badge bg-warning">No controla</span>
                          </ng-container>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="px-2" [class.d-none]="paginatorController.pages <= 1">
                  <app-paginator [total]="products.length" [size]="8" [pageSizes]="[8, 15, 20, 50]"
                    (pagination)="changePagination($event)">
                  </app-paginator>
                </div>
              </ng-container>

              <ng-template #empty>
                <div class="empty">
                  <i class="bx bx-book-open bx-lg"></i> No hay productos para mostrar
                </div>
              </ng-template>
            </div>
          </div>
          <div class="col-md-4 side-right p-3 border-start shadow" *ngIf="form" [formGroup]="form">
            <div class="mb-3">
              <div class="row gx-2 align-items-center">
                <div class="col-auto">
                  <div class="image">
                    <img [src]="form.get('image').value" alt="">
                  </div>
                </div>
                <div class="col">
                  <h6 class="mb-1">
                    <a target="_blank" [routerLink]="['/inventario/registro', form.get('IdProducto').value]">
                      {{form.get('Nombre').value}}
                    </a>
                  </h6>
                  <small>{{form.get('Categoria').value}}</small>
                </div>
              </div>
            </div>
            <div class="mb-2">
              <label class="form-label">Cantidad a tramitar</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="Cantidad"
                  [class.is-invalid]="form.get('Cantidad').touched && form.get('Cantidad').errors">
                <div class="input-group-text cursor-pointer" (click)="openModal()">
                  {{form.get('IdUnidadMedida').value}}
                </div>
              </div>
            </div>
            <h6>Ajustes del costo</h6>
            <hr class="mt-0">
            <div class="mb-2">
              <label class="form-label">Costo promedio actual</label>
              <div class="input-group">
                <div class="input-group-text">S/</div>
                <div class="form-control form-control-plaintext px-2 border bg-light">
                  {{form.get('CostoPromedio').value | number: '0.2-2'}}
                </div>
              </div>
            </div>
            <div class="mb-2">
              <label class="form-label">Costo unitario adquisición</label>
              <div class="input-group">
                <div class="input-group-text">S/</div>
                <input type="text" class="form-control" formControlName="CostoAdquisicion"
                  [class.is-invalid]="form.get('CostoAdquisicion').errors">
              </div>
            </div>
            <div>
              <label class="form-label">Nuevo costo promedio</label>
              <div class="input-group">
                <div class="input-group-text">S/</div>
                <div class="form-control form-control-plaintext px-2 border bg-light">
                  {{form.get('CostoPromedioActual').value | number: '0.2-2'}}
                </div>
              </div>
            </div>
            <hr>
            <div class="mb-4">
              <label class="form-label">Precio unitario de venta</label>
              <div class="input-group">
                <div class="input-group-text">S/</div>
                <input type="text" class="form-control" formControlName="Precio"
                  [class.is-invalid]="form.get('Precio').errors">
              </div>
              <small class="text-danger" *ngIf="form.get('Precio').errors?.price">
                El precio debe ser mayor que el costo promedio
              </small>
            </div>
            <div class="d-flex">
              <button type="button" class="btn btn-primary flex-fill" [disabled]="form.invalid" (click)="addToList()">
                <i class="bx bx-check"></i> Agregar a la lista
              </button>
              <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" title="Salir">
                <i class="bx bx-log-in-circle"></i> Salir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>