<!-- <div style="font-family: Arial, Helvetica, sans-serif; font-size: 9pt;">
  <p style="text-align: center; margin-bottom: 25px; font-size: 18px;">Minimarket</p>
  <p style="margin-bottom: 20px;">Fecha y hora: {{current | date:'dd/MM/yyyy HH:mm'}}</p>
  <table style="font-size: 9pt; width: 100%;">
    <thead>
      <tr>
        <th>Producto</th>
        <th style="width: 80px; text-align: center;">Cant.</th>
        <th style="width: 80px; text-align: right;">Importe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ticket.PedidoDetalle">
        <td style="vertical-align: top;">{{item.Producto}} ({{item.IdUnidadMedida}})</td>
        <td style="vertical-align: top; text-align: center;">{{item.Cantidad | number:'0.0-3'}}</td>
        <td style="vertical-align: top; text-align: right;">{{item.Importe | number:'0.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <iframe border="0" [src]="blobUrl | SafeUrl" style="width:100%; height: calc(100vh - 200px); margin: 0;"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
      </div>
    </div>
  </div>
</div>