<div class="row">
    <div class="col-12">
      <iframe class="iframe-full" src="https://georis.maps.arcgis.com/apps/instant/lookup/index.html?appid=1894ce9f62234ed9b924edef5d450515"></iframe>
    </div>
  </div>