<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Devoluciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="form">
        <p>Especifique las cantidades a devolver de cada producto</p>
        <div class="table-responsive" formArrayName="PedidoDetalle">
          <table class="table table-sm table-hover align-middle">
            <thead>
              <tr>
                <th class="text-center">Producto</th>
                <th class="text-center">Pedido</th>
                <th style="width: 5px;"></th>
                <th class="text-center col-2">Devolver</th>
                <th class="text-center">Unidad</th>
                <th class="text-center">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products.controls; let i = index" [formGroupName]="i"
                [class.bg-light]="item.get('Devolver').value > 0">
                <td>
                  {{item.get('Producto').value}}
                </td>
                <td class="text-center">
                  {{item.get('Cantidad').value}}
                </td>
                <td>
                  <i class="bx bx-right-arrow-circle bx-sm" (click)="cloneValue(item)"></i>
                </td>
                <td class="text-center">
                  <input type="text" class="input-devolution form-control form-control-sm rounded-pill"
                    formControlName="Devolver" [class.is-invalid]="item.get('Devolver').errors">
                </td>
                <td class="text-center">
                  {{item.get('IdUnidadMedida').value}}
                </td>
                <td class="text-center">
                  {{item.get('Precio').value | number:'0.2-2'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <h5 class="row justify-content-end">
          <div class="col-auto">Nuevo Total</div>
          <div class="col-3 text-end">S/ {{form.get('TotalCalculado').value | number:'0.2-2'}}</div>
        </h5>
        <div class="card card-body bg-light shadow-none border mt-4">
          <p>Las devoluciones generarán movimientos de ingreso en almacén y caja (Si hay pagos de por medio)</p>
          <div class="row">
            <div class="col-md-3">
              <label class="form-label">Caja devolución</label>
              <select class="form-select" formControlName="IdCaja" [class.is-invalid]="form.get('IdCaja').errors">
                <option *ngFor="let item of boxes" [value]="item.IdCaja">{{item.Nombre}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="form-label">Pagado por el cliente</label>
              <div class="border form-control form-control-plaintext px-2">
                S/ {{form.get('MontoPagado').value | number:'0.2-2'}}
              </div>
            </div>
            <div class="col-md-3">
              <label class="form-label">Monto a devolver</label>
              <div class="input-group">
                <div class="input-group-text">S/</div>
                <input type="text" class="form-control" formControlName="MontoDevolver">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">
          <i class="bx bx-refresh"></i> Devolver
        </button>
      </div>
    </div>
  </div>
</div>