<div class="col-sm-12 order-1 order-md-0">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-3">
          <i class="bx bx-folder bx-sm"></i> Matriz de Seguimiento: Visor
        </h5>
      </div>
      <div class="card-body">
        <div class="my-3" style="z-index: 9">
          <div class="form-check form-check-inline me-4">
            <label class="form-check-label" for="rb_1">Año:</label>
          </div>
          <div class="form-check form-check-inline">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione el año</option>
                <option value="1">2022</option>
                <option value="2">2021</option>
                <option value="3">2020</option>
              </select>
          </div>
        </div>
      </div>
    </div>

    

    <div class="card card-body mb-3">  
        <div class="row">
            <div class="col-3">
                <div class="container">
                    <div class="row">
                    <div class="col-5">
                        Aquí el gráfico
                    </div>
                    <div class="col">
                        <h5 class="card-title">Programacion de Metas Físicas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Trimestre I</h6>
                        <a class="card-link">Programado: 10</a><br>
                        <a class="card-link">Ejecutado: 5</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container">
                    <div class="row">
                    <div class="col-5">
                        Aquí el gráfico
                    </div>
                    <div class="col">
                        <h5 class="card-title">Programacion de Metas Físicas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Trimestre II</h6>
                        <a class="card-link">Programado: 10</a><br>
                        <a class="card-link">Ejecutado: 5</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container">
                    <div class="row">
                    <div class="col-5">
                        Aquí el gráfico
                    </div>
                    <div class="col">
                        <h5 class="card-title">Programacion de Metas Físicas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Trimestre III</h6>
                        <a class="card-link">Programado: 10</a><br>
                        <a class="card-link">Ejecutado: 5</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container">
                    <div class="row">
                    <div class="col-5">
                        Aquí el gráfico
                    </div>
                    <div class="col">
                        <h5 class="card-title">Programacion de Metas Físicas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Trimestre IV</h6>
                        <a class="card-link">Programado: 10</a><br>
                        <a class="card-link">Ejecutado: 5</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <ng-template #empty>
          <div class="py-5 text-center">No se han encontrado resultados</div>
        </ng-template>


    <div class="card card-body mb-3">
      <ng-container>
        <div class="table-responsive">
          <table class="table align-middle">
            <col>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
            <tr>
              <td rowspan="2"></td>
              <th colspan="2" scope="colgroup" class="text-center">Trimestre I</th>
              <th colspan="2" scope="colgroup" class="text-center">Trimestre II</th>
              <th colspan="2" scope="colgroup" class="text-center">Trimestre III</th>
              <th colspan="2" scope="colgroup" class="text-center">Trimestre IV</th>
              <th scope="colgroup" class="text-center">Anual</th>
            </tr>
            <tr>
              <th scope="col" class="text-center">Programado</th>
              <th scope="col" class="text-center">Ejecutado</th>
              <th scope="col" class="text-center">Programado</th>
              <th scope="col" class="text-center">Ejecutado</th>
              <th scope="col" class="text-center">Programado</th>
              <th scope="col" class="text-center">Ejecutado</th>
              <th scope="col" class="text-center">Programado</th>
              <th scope="col" class="text-center">Ejecutado</th>
              <th scope="col" class="text-center">%</th>
            </tr>
            <tr>
              <th scope="row"> Modificación de las Compensaciones y Entregas Económicas del Personal de la Salud, contenidas en el D.Leg 1153  y adecuación del 278 a la RIS (normalización del trabajo de la RIS) </th>
              <td class="text-center">5</td>
              <td class="text-center">3</td>
              <td class="text-center">1</td>
              <td class="text-center">8</td>
              <td class="text-center">1</td>
              <td class="text-center">8</td>
              <td class="text-center">1</td>
              <td class="text-center">8</td>
              <td class="text-center">8%</td>
            </tr>
            <tr>
              <th scope="row">Formulación y aprobación del Decreto Supremo que aprueba la Comisión Nacional Multisectorial para el abordaje determinantes sociales de la Salud en el marco del MCI, en el contexto de RIS</th>
              <td class="text-center">1</td>
              <td class="text-center">5</td>
              <td class="text-center">1</td>
              <td class="text-center">9</td>
              <td class="text-center">1</td>
              <td class="text-center">8</td>
              <td class="text-center">1</td>
              <td class="text-center">8</td>
              <td class="text-center">8%</td>
            </tr>
          </table>
        </div>
      </ng-container>
      <ng-template #empty>
        <div class="py-5 text-center">No se han encontrado resultados</div>
      </ng-template>
    </div>
  </div>
  