.search-form {
  position: relative;
  .bx {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    font-size: 1.7rem;
    cursor: pointer;
    color: #ccc;
    transition: all ease 0.2s;

    &:hover {
      color: var(--bs-primary);
    }
  }

  .form-control {
    // padding-left: 40px;
    border-radius: 1.25rem;
  }
}

.results-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 380px;
  height: 100%;
  background: #fff;
  font-size: 0.9rem;
  z-index: 99;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  animation: slide-right ease 0.3s;

  &.closing {
    animation: slide-left linear 0.5s;    
  }
}

@keyframes slide-right {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-left {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: #999;
}
.results {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex: 1;
}
.results.opacity {
  opacity: 0.2;
}
.custom-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.product {
  display: flex;
  padding: 1rem 0.75rem;
  cursor: pointer;
  border-top: 1px solid #eee;
  width: 100%;
}
.product .image {
  width: 110px;
  height: 110px;
  text-align: center;
  position: relative;
}
.product .image.img-loading::after {
  content: "\eda9";
  font-family: boxicons !important;
  font-size: 3rem;
  animation: spin 1.5s infinite linear;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.product .image.img-loading img {
  display: none;
}
.product .image img {
  max-width: 100%;
  max-height: 100%;
}
.product .content {
  flex: 1;
  padding-left: 1rem;
}
.product .name {
  font-size: 0.95em;
}
.product .price {
  color: var(--first-color);
  font-weight: 700;
}
.product .options {
  margin-top: 1rem;
}
.product .badge {
  font-size: 0.85em;
  font-weight: 400;
}

.btn-group.disabled .btn {
  pointer-events: none;
  cursor: not-allowed;
}

.bx-plus-circle {
  transition: all linear 0.1s;

  &:active {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 768px) {
  .results-container {
    width: calc(100vw - 75px);
    right: 0;
  }
  .results-container::before {
    content: none;
  }
  .product {
    width: 100%;
  }
}
