<div class="results-container" [class.closing]="isClosing">

  <div class="p-3">
    <div class="search-form">
      <i class="bx bx-minus-circle" (click)="closeSearch()"></i>
      <input #inputSearch type="text" class="form-control" [formControl]="textForm">
    </div>
  </div>

  <div class="results" #perfectScroll infinite-scroll (track)="track($event)" [perfectScrollbar]
    [class.opacity]="isLoading">
    <div class="product" *ngFor="let product of results; trackBy: trackById">
      <div class="image img-loading">
        <img [src]="product.image" alt="" (load)="loadImage($event)" (error)="errorImage($event)">
      </div>
      <div class="content">
        <a class="name" target="_blank" [routerLink]="['/inventario/registro', product.IdProducto]">
          {{product.Nombre}}
        </a>
        <div class="details">
          <div class="mb-2 text-muted">{{product.Categoria || 'N/A'}}</div>

          <div class="stock text-black" *ngIf="product.Unidades">
            <div class="row align-items-center g-1" *ngFor="let unit of product.Unidades">
              <div class="col">{{unit.IdUnidadMedida}}</div>
              <div class="col">S/ {{unit.Precio | number: '0.2-2'}}</div>
              <div class="col">
                <ng-container *ngIf="product.FlagStock">
                  <ng-template [ngIf]="unit.Stock <= 0">
                    <span class="badge bg-danger">Sin stock</span>
                  </ng-template>
                </ng-container>
              </div>
              <div class="col-auto d-flex align-self-center"
                *ngIf="product.FlagStock && unit.Stock > 0 || !product.FlagStock">
                <i class="bx bx-plus-circle bx-sm" title="{{unit.Stock}} {{unit.IdUnidadMedida}}"
                  (click)="select(product, unit)"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="empty" *ngIf="!isLoading && !total">
    <i class="bx bxs-magic-wand bx-lg"></i>
    <span>No se han encontrados resultados</span>
  </div>

  <div class="p-3 border-top" *ngIf="total">
    <span>Resultados: {{total}} producto(s)</span>
  </div>

  <div class="custom-loading" *ngIf="isLoading">
    <i class="bx bx-loader-alt bx-spin  bx-md"></i>
    <div class="mt-2">Buscando...</div>
  </div>

</div>