<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{params.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="form">
        <div class="mb-3">
          <ng-container *ngIf="boxes.length; else zeroBoxes">
            <label class="form-label">Caja</label>
            <select class="form-select" formControlName="IdCaja" (change)="changeMoneybox()"
              [class.is-invalid]="form.get('IdCaja').touched && form.get('IdCaja').errors">
              <option *ngFor="let item of boxes" [value]="item.IdCaja">{{item.Nombre}}</option>
            </select>
          </ng-container>
          <ng-template #zeroBoxes>
            <div class="alert alert-danger py-2">No hay cajas disponibles</div>
          </ng-template>
        </div>
        <div class="mb-3">
          <label class="form-label">Concepto</label>
          <select class="form-select" formControlName="IdConcepto"
            [class.is-invalid]="form.get('IdConcepto').touched && form.get('IdConcepto').errors">
            <option *ngFor="let item of concepts" [value]="item.IdConcepto">{{item.Nombre}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Importe</label>
          <div class="input-group">
            <div class="input-group-text">
              {{form.get('Simbolo').value}}
            </div>
            <input type="text" class="form-control" formControlName="Importe"
              [class.is-invalid]="form.get('Importe').touched && form.get('Importe').errors">
          </div>
          <div class="small text-danger" *ngIf="form.get('Importe').errors?.amountExceed">
            La caja no dispone de saldo suficiente para esta operación (Saldo: S/ {{form.get('TotalCaja').value | number: '0.2-2'}})
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Observaciones</label>
          <textarea rows="3" class="form-control" formControlName="Observaciones"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary rounded-pill px-4" (click)="save()"
          [disabled]="form.invalid">Aceptar</button>
      </div>
    </div>
  </div>
</div>