<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
      <form class="modal-content" [formGroup]="form" (submit)="save()">
        <div class="modal-header">
            <h5 class="modal-title">Editar Usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Dirección General</label>
              <!-- <input type="text" class="form-control text-uppercase" formControlName="dirGeneral" maxlength="250"
                [class.is-invalid]="form.get('dirGeneral').touched && form.get('dirGeneral').errors"> -->

                <select
                class="form-select"
                formControlName="dirGeneral"
                [class.is-invalid]="form.get('dirGeneral').touched && form.get('dirGeneral').errors"
              >
              <option *ngFor="let dirGen of listDirGeneral" [value]="dirGen.id">{{dirGen.name}}</option>
           
              </select>

            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Unidad Orgánica</label>
            
                <select
                class="form-select"
                formControlName="uOrganica"
                [class.is-invalid]="form.get('uOrganica').touched && form.get('uOrganica').errors"
              >
              <option *ngFor="let uorgan of listUniOrganica" [value]="uorgan.id">{{uorgan.name}}</option>
           
              </select>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="form-label">Nombres</label>
              <input type="text" class="form-control text-uppercase" formControlName="nombres" maxlength="250"
                [class.is-invalid]="form.get('nombres').touched && form.get('nombres').errors">
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control text-uppercase" formControlName="aPaterno" maxlength="250"
                [class.is-invalid]="form.get('aPaterno').touched && form.get('aPaterno').errors">
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label">Apellido Materno</label>
              <input type="text" class="form-control text-uppercase" formControlName="aMaterno" maxlength="250"
                [class.is-invalid]="form.get('aMaterno').touched && form.get('aMaterno').errors">
            </div>
            
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              <label class="form-label">Documento</label>
                <select
                class="form-select"
                formControlName="tipoDocumento"
                [class.is-invalid]="form.get('tipoDocumento').touched && form.get('tipoDocumento').errors">
              <option *ngFor="let tipDoc of listTipDoc" [value]="tipDoc.id">{{tipDoc.name}}</option>
              </select>


            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">Nro. Documento</label>
              <input type="text" class="form-control text-uppercase" formControlName="documento" maxlength="250"
                [class.is-invalid]="form.get('documento').touched && form.get('documento').errors">
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">Género</label>
             
                
                <select
                class="form-select"
                formControlName="genero"
                [class.is-invalid]="form.get('genero').touched && form.get('genero').errors">
              <option *ngFor="let gen of listGenero" [value]="gen.id">{{gen.name}}</option>
              </select>

            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">Fecha Nacimiento</label>
              <input type="date" class="form-control text-uppercase" formControlName="fNacimiento" maxlength="250"
                [class.is-invalid]="form.get('fNacimiento').touched && form.get('fNacimiento').errors">
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Cargo</label>
              

                <select
                class="form-select"
                formControlName="cargo"
                [class.is-invalid]="form.get('cargo').touched && form.get('cargo').errors">
              <option *ngFor="let car of listCargo" [value]="car.id">{{car.name}}</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Condición Laboral</label>
              
                <select
                class="form-select"
                formControlName="cLaboral"
                [class.is-invalid]="form.get('cLaboral').touched && form.get('cLaboral').errors">
              <option *ngFor="let cond of listCondicionLab" [value]="cond.id">{{cond.name}}</option>
              </select>
            </div>
            
          </div>

          <!-- <h3><b>MODULO PERMISOS</b></h3>
          <div class="row">

          </div> -->



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Salir</button>
          <button type="submit" class="btn btn-primary rounded-pill px-3" [disabled]="form.invalid">
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>