<div class="results-container" [class.d-none]="!isLoading && !total" [class.alone]="total < 2">

  <div class="p-3">
    <div class="btn-group btn-group-sm" role="group" [formGroup]="form" [class.disabled]="total < 2">
      <input type="radio" class="btn-check" name="sort" id="btn_category" autocomplete="off" value="categoria"
        formControlName="sort">
      <label class="btn btn-primary rounded-start" for="btn_category"
        title="Ordenar por categoría">Categoría</label>

      <input type="radio" class="btn-check" name="sort" id="btn_name" autocomplete="off" value="nombre"
        formControlName="sort" checked>
      <label class="btn btn-primary border-start-0 border-end-0" for="btn_name"
        title="Ordenar por nombre">Nombre</label>

      <input type="radio" class="btn-check" name="sort" id="btn_price_asc" autocomplete="off" value="precio_asc"
        formControlName="sort">
      <label class="btn btn-primary rounded-end" for="btn_price_asc"
        title="Ordenar de menor a mayor precio">Precio</label>
    </div>
  </div>

  <div class="results" #perfectScroll infinite-scroll (track)="track($event)" [perfectScrollbar]
    [class.opacity]="isLoading">
    <a class="product" *ngFor="let product of results; trackBy: trackById"
      [routerLink]="['/inventario/registro', product.IdProducto]" (click)="select(product)">
      <div class="image img-loading">
        <img [src]="product.image" alt="" (load)="loadImage($event)" (error)="errorImage($event)">
      </div>
      <div class="content">
        <div class="name">{{product.Nombre}}</div>
        <div class="details">
          <div class="mb-2 text-muted">{{product.Categoria || 'N/A'}}</div>
          <div class="d-flex align-items-end">
            <span class="price">S/ {{product.Precio | number: '0.2-2'}}</span>
            <span class="ms-3">{{product.IdUnidadMedida}}</span>
          </div>
        </div>
        <div class="options">
          <ng-container *ngIf="product.FlagStock">
            <span class="badge bg-white text-dark shadow-sm" *ngIf="product.Stock > 0; else sinStock">
              <strong>Disponible:</strong> {{product.Stock | number: '0.0-3'}} {{product.IdUnidadMedida}}
            </span>
            <ng-template #sinStock>
              <span class="badge bg-danger">Agotado</span>
            </ng-template>
          </ng-container>         
        </div>
      </div>
    </a>
  </div>

  <div class="p-3 border-top" *ngIf="total">
    <span>Resultados: {{total}} producto(s)</span>
  </div>

  <div class="__loading" *ngIf="isLoading">
    <i class="bx bx-loader-alt bx-spin  bx-md"></i>
    <div class="mt-2">Buscando...</div>
  </div>

</div>