<h4 class="title d-flex justify-content-between align-items-center">
  Historial de pagos
  <a routerLink="/caja/pagos/registro" class="btn btn-primary btn-sm px-4 rounded-pill">
   <i class="bx bx-check"></i> Nuevo registro
  </a>
</h4>
<div class="card card-body mb-3" [formGroup]="formSearch">
  <div class="my-3" style="z-index: 9;">
    <div class="form-check form-check-inline me-4">
      <input class="form-check-input" type="radio" id="rb_1" name="option" [value]="1" formControlName="option">
      <label class="form-check-label" for="rb_1">Búsqueda rápida</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="rb_2" name="option" [value]="2" formControlName="option">
      <label class="form-check-label" for="rb_2">Búsqueda avanzada</label>
    </div>
  </div>

  <ng-template [ngIf]="formSearch.get('option').value == 1">
    <div class="row">
      <div class="col-md-4">
        <select class="form-select" formControlName="quick">
          <option [value]="1">Hoy</option>
          <option [value]="7">La última semana</option>
          <option [value]="15">Los últimos 15 días</option>
          <option [value]="30">Los últimos 30 días</option>
          <option [value]="365">El año actual</option>
        </select>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="formSearch.get('option').value == 2">
    <form [formGroup]="form" (ngSubmit)="search()">
      <div class="row g-5">
        <div class="col-md-8">

          <div class="row g-2">
            <!-- <div class="col-md-4 mb-3">
              <label class="form-label">N° Pago</label>
              <input type="text" class="form-control" formControlName="id_payment">
            </div> -->
            <div class="col-md mb-3">
              <label class="form-label">Proveedor</label>
              <div class="input-group">
                <input type="text" class="form-control border-end-0" formControlName="provider">
                <button type="button" class="btn border" (click)="customerSearch()">
                  <i class="bx bx-search-alt"></i>
                </button>
              </div>              
            </div>
          </div>

          <div class="row g-2">
            <div class="col-md-4 mb-3">
              <label class="form-label">Estado</label>
              <select class="form-select" formControlName="id_state">
                <option [value]="1">REGISTRADO</option>
                <option [value]="2">PAGADO</option>
                <option [value]="3">ANULADO</option>
              </select>
            </div>
            <div class="col-md mb-3">
              <label class="form-label">Responsable</label>
              <input type="text" class="form-control" formControlName="employee">
            </div>
          </div>

        </div>
        <div class="col-md">
          <div class="">
            <div class="row g-2">
              <div class="col-md-12 mb-2">
                <label class="form-label">Desde</label>
                <div class="input-group"
                  [class.is-invalid]="form.get('date_start').touched && form.get('date_start').errors">
                  <input type="text" class="form-control border-end-0" bsDatepicker formControlName="date_start"
                    [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
                  <div class="input-group-text bg-white border-start-0">
                    <i class="bx bx-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-2">
                <label class="form-label">Hasta</label>
                <div class="input-group"
                  [class.is-invalid]="form.get('date_end').touched && form.get('date_end').errors">
                  <input type="text" class="form-control border-end-0" bsDatepicker formControlName="date_end"
                    [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
                  <div class="input-group-text bg-white border-start-0">
                    <i class="bx bx-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col text-end">
          <button type="button" class="btn btn-secondary rounded-pill me-3" (click)="reset()">
            <i class="bx bx-eraser"></i> Limpiar
          </button>
          <button type="submit" class="btn btn-primary rounded-pill">
            <i class="bx bx-search-alt"></i> Buscar
          </button>
        </div>
      </div>
    </form>
  </ng-template>

</div>

<div class="card card-body mb-3" [class.loading]="isLoading">
  <ng-container *ngIf="payments.length; else empty">
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="col-1 text-center">N° Pago</th>
            <th class="col-1 text-center">F. Venc.</th>
            <th class="col-1 text-center">Motivo</th>
            <th>Proveedor</th>
            <th class="col-1 text-center">Moneda</th>
            <th class="col-1 text-center">Importe</th>
            <th class="text-center">Responsable</th>
            <th class="col-1 text-center">Estado</th>
            <!-- <th class="col-1"></th> -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of payments | paginator: paginationController">
            <tr>
              <td class="text-center">
                <a class="btn btn-link btn-sm shadow-none" [routerLink]="['/caja/pagos/registro', item.IdPago]">
                  {{item.IdPago | padleft: 7}}
                </a>
              </td>
              <td class="text-center">{{item.Fecha | date:'dd/MM/yyyy'}}</td>
              <td class="text-center">{{item.Motivo}}</td>
              <td>
                {{item.NombrePropietario}}
              </td>
              <td class="text-center">{{item.SimboloMoneda}}</td>
              <td class="text-center">{{item.ImportePorPagar | number:'0.2-2'}}</td>
              <td class="text-center">{{item.NombrePersonalRegistro}}</td>
              <td class="text-center">
                <span class="badge" [class.bg-primary]="item.IdEstado == 1" [class.bg-success]="item.IdEstado == 2"
                  [class.bg-danger]="item.IdEstado == 3">
                  {{item.Estado}}
                </span>
              </td>
              <!-- <td class="text-center">
                <div class="options">
                  <i class="bx bxs-pencil" title="Ver detalle"></i>
                </div>
              </td> -->
            </tr>            
          </ng-container>
        </tbody>
      </table>
    </div>
    <app-paginator [total]="payments.length" [size]="10" (pagination)="paginationChange($event)">
    </app-paginator>
  </ng-container>
  <ng-template #empty>
    <div class="py-5 text-center">No se han encontrado resultados</div>
  </ng-template>
</div>