<div class="modal fade show" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ubicación Nominal Aproximada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-2">
          </div>
          <div class="row g-2">
            <div class="card card-body mb-3">
                <iframe [src]="urlSafe" width="100%" height="500px" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
