<div class="row">
    <div class="col-12">
      <iframe class="iframe-full" src="https://georis.maps.arcgis.com/apps/instant/lookup/index.html?appid=c1a0b12152c74f0cacf24ee18fdb1379"></iframe>
    </div>
  </div>